In [94]:
# supressing warnings
import warnings
warnings.filterwarnings('ignore')
# numpy and pandas
import numpy as np
import pandas as pd

# Reading Data

In [95]:
churn_data = pd.read_csv("churn_data.csv")
churn_data.head(2)

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No

In [96]:
customer_data = pd.read_csv("customer_data.csv")
customer_data.head(2)

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No

In [97]:
internet_data = pd.read_csv("internet_data.csv")
internet_data.head(2)

,customerID,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,No,DSL,Yes,No,Yes,No,No,No

### consolidating data in to one single table

In [98]:
# merging data on customerid
df_1 = pd.merge(churn_data, customer_data, how="inner", on="customerID")
df_1.head(1)

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,SeniorCitizen,Partner,Dependents
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Female,0,Yes,No

In [99]:
telecom = pd.merge(df_1, internet_data, how="inner", on="customerID")
telecom.head(1)

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,...,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Female,...,Yes,No,No phone service,DSL,No,Yes,No,No,No,No

### Inspecting the Data

In [100]:
telecom.shape

(7043, 21)

In [101]:
telecom.describe()

            tenure  MonthlyCharges  SeniorCitizen
count  7043.000000     7043.000000    7043.000000
mean     32.371149       64.761692       0.162147
std      24.559481       30.090047       0.368612
min       0.000000       18.250000       0.000000
25%       9.000000       35.500000       0.000000
50%      29.000000       70.350000       0.000000
75%      55.000000       89.850000       0.000000
max      72.000000      118.750000       1.000000

In [102]:
telecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   PhoneService      7043 non-null   object
 3   Contract          7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
 8   Churn             7043 non-null   object
 9   gender            7043 non-null   object
 10  SeniorCitizen     7043 non-null   int64
 11  Partner           7043 non-null   object
 12  Dependents        7043 non-null   object
 13  MultipleLines     7043 non-null   object
 14  InternetService   7043 non-null   object
 15  OnlineSecurity    7043 non-null   object
 16  OnlineBackup      7043 non-null   object
 17  DeviceProtection  7043 non-null   object
 18  TechSupport       7043 non-null   object
 19  StreamingTV       7043 non-null   object
 20  StreamingMovies   7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [103]:
telecom.nunique()

customerID          7043
tenure                73
PhoneService           2
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1585
TotalCharges        6531
Churn                  2
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
dtype: int64

# Step 3 - Data Preparation

### Converting some Binary Yes/No - 1/0

In [104]:
#List of variables to map
varlist = ["PaperlessBilling","Churn","Partner","Dependents","PhoneService"]

In [105]:
def binary_map(x):
    return x.map({"Yes": 1, "No": 0})

telecom[varlist] = telecom[varlist].apply(binary_map)

In [106]:
telecom.head(5)

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,...,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,1,0,Month-to-month,1,Electronic check,29.85,29.85,0,Female,...,1,0,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,34,1,One year,0,Mailed check,56.95,1889.5,0,Male,...,0,0,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,2,1,Month-to-month,1,Mailed check,53.85,108.15,1,Male,...,0,0,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,45,0,One year,0,Bank transfer (automatic),42.30,1840.75,0,Male,...,0,0,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,2,1,Month-to-month,1,Electronic check,70.70,151.65,1,Female,...,0,0,No,Fiber optic,No,No,No,No,No,No

### For categorical variables with multiple levels, create dummy features (One Hot Encoded)

In [107]:
# Create dummy variables for some of the categoricald variables and dropping the first variable from the first one|
var_cat_col = ["gender","InternetService","Contract","PaymentMethod"]
dummy_1 =  pd.get_dummies(telecom[var_cat_col], drop_first=True, dtype=int)

In [108]:
dummy_1.head(5)

,gender_Male,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,0,0,0,0,1,0
1,1,0,0,1,0,0,0,1
2,1,0,0,0,0,0,0,1
3,1,0,0,1,0,0,0,0
4,0,1,0,0,0,0,1,0

In [109]:
telecom = pd.concat([telecom, dummy_1], axis=1)

In [110]:
telecom.head(1)

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,...,StreamingTV,StreamingMovies,gender_Male,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,7590-VHVEG,1,0,Month-to-month,1,Electronic check,29.85,29.85,0,Female,...,No,No,0,0,0,0,0,0,1,0

In [124]:
telecom.StreamingMovies.unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [126]:
# Create Dummy variable for the remaining categorical  variable and dropping the first variable
m1 = pd.get_dummies(telecom["MultipleLines"], prefix="MultipleLines", dtype=int)
m1 = m1.drop(["MultipleLines_No phone service"], axis=1)
telecom = pd.concat([telecom, m1], axis=1)

os = pd.get_dummies(telecom["OnlineSecurity"], prefix="OnlineSecurity", dtype=int)
os = os.drop(["OnlineSecurity_No internet service"], axis=1)
telecom = pd.concat([telecom, os], axis=1)

ob = pd.get_dummies(telecom["OnlineBackup"], prefix="OnlineBackup", dtype=int)
ob = ob.drop(["OnlineBackup_No internet service"], axis=1)
telecom = pd.concat([telecom, ob], axis=1)

dp = pd.get_dummies(telecom["DeviceProtection"], prefix="DeviceProtection", dtype=int)
dp = dp.drop(["DeviceProtection_No internet service"], axis=1)
telecom = pd.concat([telecom, dp], axis=1)

ts = pd.get_dummies(telecom["TechSupport"], prefix="TechSupport", dtype=int)
ts = ts.drop(["TechSupport_No internet service"], axis=1)
telecom = pd.concat([telecom, ts], axis=1)

stv = pd.get_dummies(telecom["StreamingTV"], prefix="StreamingTV", dtype=int)
stv = stv.drop(["StreamingTV_No internet service"], axis=1)
telecom = pd.concat([telecom, stv], axis=1)

sm = pd.get_dummies(telecom["StreamingMovies"], prefix="StreamingMovies", dtype=int)
sm = sm.drop(["StreamingMovies_No internet service"], axis=1)
telecom = pd.concat([telecom, sm], axis=1)

In [127]:
telecom.head(2)

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,...,OnlineBackup_No,OnlineBackup_Yes,DeviceProtection_No,DeviceProtection_Yes,TechSupport_No,TechSupport_Yes,StreamingTV_No,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_Yes
0,7590-VHVEG,1,0,Month-to-month,1,Electronic check,29.85,29.85,0,Female,...,0,1,1,0,1,0,1,0,1,0
1,5575-GNVDE,34,1,One year,0,Mailed check,56.95,1889.5,0,Male,...,1,0,0,1,1,0,1,0,1,0